@use 'igniteui-theming' as *;
@use '../../styles/global/search-shared' as *;

api-search-advanced { display: contents; }

.igd-search-dialog {
	--border-radius: 0;
	--background: var(--igd-layout-sections-bg);
	--transition-duration: 150ms;
	border: none;

	&::part(base) {
		@include search-dialog-base-styles;

		&:focus-visible {
			outline: none;
		}
	}

	&::part(content) {
		padding: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&::part(backdrop) {
		@include search-dialog-backdrop;
	}

	&[open]::part(backdrop) {
		@include search-dialog-backdrop-open;
	}

	igc-input {
		height: 100%;

		&::part(container) {
			border: 0;
			padding: 0;
			height: 100%;
		}
	}

	igc-divider {
		margin-inline: rem(16px);
	}
}

.search-trigger {
	color: light-dark(var(--ig-gray-600), var(--ig-gray-400));
}

// TODO BUG IN THE TAB COMPONENT
igc-tabs::part(inner) {
	flex-grow: 1;
}

// TODO Log issue in the component this is not suppose to be affected by the ig-typography
igc-tab::part(content) {
	@include type-style('subtitle-1') {
		margin: 0;
	}
}

.igd-search-tabs {
	--item-background: var(--igd-layout-sections-bg);
	
	flex: 1 1 auto;
	min-height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
	&::part(base) {
		display: flex;
		flex-direction: column;
		height: 100%;
		min-height: 0;
	}
	
	igc-tab {
		--item-text-color: light-dark(var(--ig-gray-900), var(--ig-gray-700));
		--item-background: var(--igd-layout-sections-bg);
		--item-hover-background: var(--igd-layout-sections-bg);
		--item-hover-color: var(--igd-accent);
		--item-active-color: var(--igd-accent);
		--item-active-hover-color: var(--igd-accent);
		--item-icon-color: var(--igd-accent);
		--item-active-icon-color: var(--igd-accent);
		--item-active-hover-icon-color: var(--igd-accent);
		--item-hover-icon-color: var(--igd-accent);
		--item-active-background: var(--igd-layout-sections-bg);
		--item-active-hover-background: var(--igd-layout-sections-bg);
		--indicator-color: var(--igd-accent);
		--button-color: var(--igd-accent);
		--button-hover-color: var(--igd-accent);
		--button-background: var(--igd-layout-sections-bg);
		--button-hover-background: var(--igd-layout-sections-bg);
		--border-color: var(--igd-layout-sections-bg);
		--border-color--hover: var(--igd-layout-sections-bg);
		--border-radius: 0;
	}
	
	igc-tab::part(content),
	igc-tab::part(base) {
		@include type-style('overline') {
			margin: 0;
		}
	}
	
	igc-tab::part(tab-body) {
		overflow-y: auto;
		flex: 1 1 auto;
		min-height: 0;
		padding: rem(26px);
	}
}

.igd-search-header {
	display: flex;
	border-bottom: rem(1px) solid var(--igd-app-outline-color);
	min-height: rem(75px);
	padding-inline: rem(16px);
}

.igd-search-scope {
	flex-shrink: 0;
	align-self: center;
}

.igd-search-input {
	--input-prefix-background: transparent;
	--input-prefix-background--focused: transparent;
	--input-prefix-background--filled: transparent;
	
	--input-suffix-background: transparent;
	--input-suffix-background--focused: transparent;
	--input-suffix-background--filled: transparent;
	
	width: 100%;
	
	&::part(input) {
		@include type-style('body-2') {
			margin: 0;
		}
	}
}

.igd-search-clear {
	--foreground: light-dark(var(--ig-gray-900), var(--ig-gray-900));
	--backgroind-hover: transparent;
	--hover-foreground: var(--igd-accent);
	--focus-hover-foreground: var(--igd-accent);
	--focus-foreground: var(--igd-accent);
	--active-foreground: var(--igd-accent);
	--shadow-color: transparent;
	--background: transparent;
	--hover-background: transparent;
	--focus-background: transparent;
	--focus-hover-background: transparent;
	--active-background: transparent;
	--border-color: transparent;
	--focus-border-color: red;
	--border-radius: 0;
	
	&::part(base) {
		&::after {
			display: none;
		}
	}
	
	&::part(focused) {
		--foreground: var(--igd-accent);
	}
}

.igd-search-tab-count {
	color: light-dark(var(--ig-gray-500), var(--ig-gray-300));
}

