@use 'igniteui-theming' as *;
@use '../../styles/global/search-shared' as *;

@layer components {
	api-search-advanced {
		display: contents;
		
		
		.igd-search-header {
			igc-input::part(container) {
				&:focus-within {
					box-shadow:
					 0 0 0 1px var(--igd-accent),
					inset 0 1px 0 var(--igd-accent),
					inset 0 -1px 0 var(--igd-accent),
					inset -1px 0 0 var(--igd-accent);
				}
			}
		}

	
		#search-scope-trigger-icon {
			margin-inline-start: rem(16px);
		}
	}
	
	.search-trigger {
		color: light-dark(var(--ig-gray-600), var(--ig-gray-400));
	}
	
	// TODO BUG IN THE TAB COMPONENT
	igc-tabs::part(inner) {
		flex-grow: 1;
		
	}
	
	igc-tabs {
		igc-divider {
			margin-block: rem(26px);
			
			&:last-of-type {
				display: none;
			}
		}
	}
	
	// TODO Log issue in the component this is not suppose to be affected by the ig-typography
	igc-tab::part(content) {
		@include type-style('subtitle-1') {
			margin: 0;
		}
	}
	
	.igd-search-tabs {
		--item-background: var(--igd-layout-sections-bg);
		--indicator-color: transparent;
		--button-color: var(--igd-accent);
		--button-hover-color: var(--igd-accent);
		--button-background: var(--igd-layout-sections-bg);
		--button-hover-background: var(--igd-layout-sections-bg);
		--border-color: var(--igd-layout-sections-bg);
		--border-color--hover: var(--igd-layout-sections-bg);
		--border-radius: 0;
		
		flex: 1 1 auto;
		min-height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		
		&::part(base) {
			display: flex;
			flex-direction: column;
			height: 100%;
			min-height: 0;
		}
		
		igc-tab {
			--item-text-color: light-dark(var(--ig-gray-900), var(--ig-gray-700));
			--item-background: var(--igd-layout-sections-bg);
			--item-hover-background: var(--igd-layout-sections-bg);
			--item-hover-color: var(--igd-accent);
			--item-active-color: var(--igd-accent);
			--item-active-hover-color: var(--igd-accent);
			--item-icon-color: var(--igd-accent);
			--item-active-icon-color: var(--igd-accent);
			--item-active-hover-icon-color: var(--igd-accent);
			--item-hover-icon-color: var(--igd-accent);
			--item-active-background: var(--igd-layout-sections-bg);
			--item-active-hover-background: var(--igd-layout-sections-bg);
		}
		
		igc-tab::part(content),
		igc-tab::part(base) {
			@include type-style('overline') {
				margin: 0;
			}
		}
		
		igc-tab::part(tab-body) {
			overflow-y: auto;
			flex: 1 1 auto;
			min-height: 0;
			padding-block: rem(26px);
		}
	}
	
	.igd-search-tab-count {
		color: light-dark(var(--ig-gray-500), var(--ig-gray-300));
	}
	
	igc-divider {
		--color: light-dark(var(--ig-gray-400), var(--ig-gray-300));
	}
}

