@use 'igniteui-theming/sass/typography' as *;

igc-input {
	--ig-input-group-input-suffix-color: light-dark(var(--ig-gray-900), var(--ig-gray-800));
	--ig-input-group-input-suffix-color--filled: light-dark(var(--ig-gray-900), var(--ig-gray-800));
	--ig-input-group-input-suffix-color--focused: light-dark(var(--ig-gray-900), var(--ig-gray-800));
	--ig-input-group-idle-text-color: light-dark(var(--ig-gray-900), var(--ig-gray-800));
	--ig-input-group-filled-text-color: light-dark(var(--ig-gray-900), var(--ig-gray-50));
	--ig-input-group-placeholder-color: var(--ig-gray-500);
	--ig-input-group-hover-placeholder-color: var(--ig-gray-500);
}

igc-input::part(input) {
	@include type-style('caption') {
		margin: 0;
	}
}

igc-input::part(container) {
	border-inline: 0;
	border-block-start: 0;
	border-block-end: rem(1px) solid light-dark(var(--ig-gray-400), var(--ig-gray-700));
	border-radius: 0;
	padding-inline-start: rem(16px);
	padding-inline-end: rem(8px);
	padding-block-end: rem(8px);
	
	&::before {
		display: none;
	}
}

igc-button {
	padding: 0;
	
	&::part(base) {
		padding-inline: rem(6px);
		min-width: fit-content;
	}
	
	// TODO I am unable to styles the input, can't reach the part, log an issue in to the library.
	//&::part(input) {
	//	padding-inline-start: 0;
	//	padding-inline-end: rem(32px);
	//}
}

.sidebar-filter-status {
	@include type-style('body-2') {
		margin: 0 !important;
	}
	
	color: light-dark(var(--ig-gray-600), var(--ig-gray-700));
	padding: rem(16px) rem(24px);
	
	&:empty {
		display: none;
	}
}
