@use 'igniteui-theming' as *;
@use '../../styles/global/search-shared' as *;

.igd-search-dialog {
	--border-radius: 0;
	--background: var(--igd-layout-sections-bg);
	--transition-duration: 150ms;
	border: none;

	&::part(base) {
		@include search-dialog-base-styles;

		&:focus-visible {
			outline: none;
		}
	}

	&::part(content) {
		padding: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&::part(backdrop) {
		@include search-dialog-backdrop;
	}

	&[open]::part(backdrop) {
		@include search-dialog-backdrop-open;
	}
}

.igd-search-input {
	--input-prefix-background: transparent;
	--input-prefix-background--focused: transparent;
	--input-prefix-background--filled: transparent;

	--input-suffix-background: transparent;
	--input-suffix-background--focused: transparent;
	--input-suffix-background--filled: transparent;

	width: 100%;
	border-bottom: rem(1px) solid var(--igd-app-outline-color);

	&::part(container) {
		border: 0;
		padding: 0;
		height: rem(56px);
	}

	&::part(input) {
		@include type-style('body-2') {
			margin: 0;
		}
	}
}

.igd-search-clear {
	--foreground: light-dark(var(--ig-gray-900), var(--ig-gray-900));
	--hover-foreground: var(--igd-accent);
	--focus-hover-foreground: var(--igd-accent);
	--focus-foreground: var(--igd-accent);
	--active-foreground: var(--igd-accent);
	--shadow-color: transparent;
	--background: transparent;
	--hover-background: transparent;
	--focus-background: transparent;
	--focus-hover-background: transparent;
	--active-background: transparent;
	--border-color: transparent;
	--border-radius: 0;

	&::part(base)::after {
		display: none;
	}
}

.igd-search-result-excerpt {
	@include type-style('caption') {
		margin: 0;
	}

	color: light-dark(var(--ig-gray-600), var(--ig-gray-400));

	mark {
		background: transparent;
		color: var(--igd-accent);
	}
}
