@use 'igniteui-theming' as *;
@use '../../styles/global/search-shared' as *;

@layer components {
	.igd-search-result-excerpt {
		@include type-style('caption') {
			margin: 0;
		}
		
		color: light-dark(var(--ig-gray-600), var(--ig-gray-400));
		
		mark {
			background: transparent;
			color: var(--igd-accent);
		}
	}
	
	.igd-search-shell {
		grid-template-rows: auto 1fr auto;
	}
}
