@use 'igniteui-theming/sass/typography' as *;

:root {
	--ig-toc-width: #{rem(330px)};
}

.toc-sidebar {
	display: block;
	position: sticky;
	top: var(--igd-header-height);
	max-width: var(--ig-toc-width);
	width: 100%;
	min-width: min-content;
	max-height: calc(100vh - var(--igd-header-height));
	overflow-y: auto;
	padding: rem(46px) rem(24px);
	border-inline: var(--igd-app-outline);
	border-block-end: var(--igd-app-outline);
	background-color: var(--igd-layout-sections-bg);
}

.ig-typography {
	.toc-sidebar__heading {
		@include type-style('body-2') {
			margin: 0;
		};
		
		color: var(--ig-gray-500);
		padding-block-end: rem(8px);
		padding-inline: rem(24px) 0;
		text-transform: uppercase;
	}
}
